{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
{#  {{ dump(timeslot) }}#}
{#  {{ dump(collection) }}#}
  <div class="row">
    <div class="col-md-6">
      {{ form_start(form) }}
      {{ form_row(form.customer) }}
      <a href="{{ path('admin_app_customer_create') }}">Add Customer</a>
      {{ form_end(form) }}
    </div>
    <div class="col-md-6">
      <b>Availablitiy</b>
      <div class="availability table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th></th>
                {% for room in rooms %}
                <th>{{ room }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for slot in collection %}
              <tr>
                <td>{{ slot.start|date('D d h:i') }}</td>
                {% for room in rooms %}
                  <td></td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
  </script>
{% endblock %}